*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.s1{
    color:darkgreen;
}
header{
    display: flex;
    max-width: 1550px;
    margin: 20px;
    padding: 5px 10px;
    margin-top: 2opx;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 3px 10px darkgreen;
    align-items: center;
}
body{
    height: 100vh;
    background-color: #111827 ;
}
.logo{
    font-size: 30px;
    color: aliceblue;
}
nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 35px;
}
nav>ul>li>a{
    font-size: 20px;
    color: white;

    text-decoration: none;
}
nav button{
    padding: 20px;
    border-radius: 5%;
    background-color: darkgreen;
    color: white;
    font-size: 15px;
    color: beige;
}
#banner{
    display:flex;
    max-width: 1280px;
    margin:50px auto;
    gap:100px;
}
.left{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:70%;
}
h2{
    font-size: 32px;
    color: white;
}